* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
  width: 100vw;
  min-height: 100vh;
  max-height: fit-content;
  background-image: url(../images/pptBild.JPG);
  background-size: cover;
  background-position: center;
  background-color: black;
  color: white;
}

header {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  min-height: 74vh;
  max-width: fit-content;
  margin: 0 auto;
}

footer {
  min-height: 5vh;
  display: flex;
  justify-items: flex-start;
  margin-left: 2%;
}

a {
  text-decoration: none;
  color: black;
}

form {
  margin-top: 8vh;
}

label {
  display: block;
  margin-top: 2%;
}

button {
  margin: 0 auto;
  margin-top: 2%;
  display: block;
  border-radius: 5px;
  border: none;
  padding: 1%;
  background-color: rgb(184, 183, 182);
}

div {
  margin: 0 auto;
  border: 1px solid black;
  margin-top: 5%;
  width: 80vw;
  background-color: rgba(105, 103, 103, 0.171);
}

h2 {
  padding-top: 5%;
}

h3 {
  margin-top: 5%;
  margin-bottom: 2%;
}

h4 {
  font-weight: 400;
  padding: 1%;
}

p {
  font-weight: 700;
  margin-top: 2%;
  margin-bottom: 5%;
}